body {
    margin: 0 150 0 150;
}

#answer {
    font-size: 40px;
}
    
@keyframes anime1 {
    0% {width: 50px; height: 50px; background-color: aqua;}
    100% {width: 200px; height: 50px; background-color: blue;}
}

@-webkit-keyframes anime1 {
    0% {width: 50px; height: 50px; background-color: aqua;}
    100% {width: 200px; height: 50px; background-color: blue;}
}
    