html {
    background-color: rgb(240,240,240);
}

body {
    /* 灰色の中に横幅を削って表示するのはよく見るデザイン */
    margin: 0 150 0 150;
    background-color: white;
}

h1 {
    /* タイトルをロゴっぽく表示する．Web フォントを使う */
    margin: 0 0 15 0;
    padding: 20 20 20 20;
    color: lightseagreen;
    font-family: 'Lobster';
    font-size: 48px;
}

a {
    /* 答えを黒で隠すのに必要 */
    color: black;
    text-decoration:underline;
}

#answer {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    /* CSS アニメーションだけで 8 秒後に答えが見られるようにする工夫 */
    animation: anime1 8s ease-in 0s 1 normal;
    font-size: 64px;
}
    
@keyframes anime1 {
    100% {background-color: white;}
    90% {background-color: black;}
    0% {background-color: black;}
}

/* 色々なブラウザでできるように一応書いておく */
@-moz-keyframes anime1 {
    100% {background-color: white;}
    90% {background-color: black;}
    0% {background-color: black;}
}
    
@-webkit-keyframes anime1 {
    100% {background-color: white;}
    90% {background-color: black;}
    0% {background-color: black;}
}
    
@-o-keyframes anime1 {
    100% {background-color: white;}
    90% {background-color: black;}
    0% {background-color: black;}
}
    
@-ms-keyframes anime1 {
    100% {background-color: white;}
    90% {background-color: black;}
    0% {background-color: black;}
}

/* 問題文の表示のデザイン */
#description {
    border: inset 5px #ff0000;
    margin: 100 20 0 20;
    width: 70%;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 20 20 20 20;
}
